body {
  background-image: linear-gradient(
    to left top, 
    #051937, 
    #002351, 
    #002c6b, 
    #003586, 
    #143ea2
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  position: relative;
  width: 400px;
  height: 250px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.carousel-item.active {
  display: block;
}


.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

.carousel-btn:hover {
  background: rgba(0,0,0,0.8);
}
